<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DAX-24-04-2023</title>
  
  <!-- CSS LINK -->
  <link rel="stylesheet" href="/style.css">

  <!-- FONTS -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Biryani:wght@200&family=Montserrat+Alternates:wght@500&display=swap" rel="stylesheet">

</head>
<body>