<%- include('partials/header'); -%>

<header>
    <div class="container">
        <div class="top-body">
            <h1 id="welcome-text">Velkommen!</h1>  
                                                                            
        </div>
        <div class="center-body">
            <div class="form-container">
                <form>
                    <label for="INPUT1">Vennligst skriv inn navnet ditt</label>
                    <input type="text" name="INPUT1">
                </form>
            </div>
        </div>
        <div class="bottom-body">
            <p>Tusen takk til de som har besøkt nettsiden!</p>
            <ul>
                
            </ul>
        </div>
      </div>
</header>

<script src="/JS/script.js"></script>


<%- include('partials/footer'); -%>