<%- include('partials/header'); -%>

<header>
    <div class="container">
        <div class="top-body">
            <h1>Velkommen, vi ønsker deg alt som er godt, !</h1>  
        </div>
        <div class="center-body">
            <div class="form-container">
                <label for="INPUT1">Vennligst skriv inn navnet ditt</label>
                <input type="text" name="INPUT1">
            </div>
        </div>
        <div class="bottom-body"></div>
      </div>
</header>

<script>
  
</script>


<%- include('partials/footer'); -%>