body{
    background-color: #2B303A;
}

h1, h2, h3, p, a, footer, label{
    color: #D64933;
}

h1{
    font-family: Montserrat Alternates;
    font-weight: 500;
}

h2, h3, p, a, footer, label, li{
    font-family: Biryani;
    font-weight: 200;
}

.container {
    display: grid; 
    gap: 0px 0px; 
    grid-template-areas: 
      "top-body top-body top-body"
      "center-body center-body center-body"
      "bottom-body bottom-body bottom-body"; 
  }
  .top-body {
     grid-area: top-body;
     text-align: center;
     }
  .center-body {
     grid-area: center-body;
     text-align: center;
     }
  .bottom-body {
     grid-area: bottom-body;
     text-align: center;
     }

  input{
    background-color: #2B303A;
    border-color: #D64933;
    color: #D64933;
  }

  footer{
    text-align: center;
  }

  li {
    list-style: none;
    color: aliceblue;
  }

  #luckytitle{
    font-size: 5em;
  }

  #randomNumber{
    font-size: 4em;
  }